.wrap {
	position: relative;
	width: 200px;
	left: 50px;
	top: 50px;
	background: #6c6669;
	padding: 15px 0;
}

ul {
	list-style: none;
	margin: 0;                                                                  
	padding: 0;
	color: #fff;
	border-right-width: 0;
}

li {
	height: 40px;
	line-height: 40px;
	padding-left: 12px;
	cursor: pointer;
	font-size: 14px;
	position: relative;
}

li.active {
	background: #999395;
}

li span:hover {
	color: #c81623;
}

.none {
	display: none;
}

#sub {
	width: 600px;
	min-height: 270px;
	position: absolute;
	border: 1px solid #f7f7f7;
	background: #f7f7f7;
	box-shadow: 2px 0 5px rgba(0,0,0,.3);
	left: 200px;
	top: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
}

.sub_content a {
	text-decoration: none;
	color: #666;
	font-size: 12px;
}

.sub_content dd a {
	border-left: 1px solid #e0e0e0;
	padding: 0 10px;
	margin: 4px 0;
}

.sub_content dl {
	overflow: hidden;
}

.sub_content dt {
	float: left;
	width: 70px;
	clear: left;
	font-weight: bold;
	position: relative;
}

.sub_content dd {
	float: left;
	margin-left: 5px;
	border-top: 1px solid #eee;
	margin-bottom: 5px;
}

.sub_content dt i {

	width: 4px;
	height: 14px;
	font: 400 9px/14px consolas;
	position: absolute;
	right: 5px;
	top: 5px;
}